.card {
    width: 400px;
    border: 2px solid red;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

i {
    color: darkgoldenrod;
}

h4 {
    color: red;
    text-align: right;
}

span {
    color: darkgoldenrod;
}

img {
    width: 100%;
}

#pets {
    display: flex;
    justify-content: space-evenly;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-weight: 100;
}

@media (max-width:390px){
    #pets {
        flex-wrap: wrap;
    }
}

